<div class="header-wrapper">
  <h1>История записей статистики друзей</h1>
  <i class="fa fa-lg fa-refresh" aria-hidden="true" (click)="update()"></i>
</div>

<button mat-raised-button [disabled]="selectedRequests.length < 2" (click)="openDifferenceUUID()">Посмотреть разницу</button>
<div class='table-wrapper'>
  <table mdbTable>
    <thead>
      <tr>
        <th *ngFor="let head of headers" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let req of requests; let i = index">
        <th scope="row">{{req.time}}</th>
        <td>{{req.uuid}}</td> 
        <td>{{req.count}}</td>
        <td><a [routerLink]='["uuid",req.uuid]'>Показать</a></td>
        <td><mat-checkbox [disabled]="selectedRequests.length === 2 && selectedRequests.indexOf(req.uuid) === -1" (change)="selectRequest(req.uuid)"></mat-checkbox></td>
      </tr>
    </tbody>
  </table>
</div>
