.header-wrapper {
    width:100%;
    position: relative;
    margin-top:110px;
    height: 30px;
}
h1 {
    width: max-content;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

i.upd {
    margin-left: 360px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.table-wrapper {
    margin-top: 15px;
}

button {
    float:right;
    margin-right:20px;
}

.pagination-wrapper {
    position: relative;
}
.pagination{
    margin-top: 10px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.left, .right {
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 20%;
    cursor: pointer;

    &:hover{
        background-color: rgba(0,0,0,0.1);
    }
}

.pages {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
