<h1>Requests uuid page</h1>
<div>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Введите UUID №1" [(ngModel)]='uuid1'>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Введите UUID №2" [(ngModel)]='uuid2'>
      </mat-form-field>

      <button mat-raised-button (click)="getDifference()">Показать разницу</button>
</div>
<app-two-sides-table *ngIf="newFriends && removedFriends" [leftData]="newFriends" [rightData]="removedFriends"></app-two-sides-table>