.header-wrapper {
    width:100%;
    position: relative;
    margin-top:110px;
    height: 30px;
}
h1 {
    width: max-content;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.filters-wrapper {
    position: relative;
    height: 50px;
    margin-top: 50px;
    .filters {
        mat-form-field {
            width: 300px;
        }
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .first-field{
        float:left;
    }
    .second-field{
        float:left;
        margin-left: 20px;
    }
    button {
        float:left;
        margin-left: 20px;
        margin-top: 9px;
    }
}

.tables-wrapper {
    width:80%;
    float:left;
    .table-new{
        float:left;
        width:50%;
    }

    .table-removed{
        float:left;
        width:50%;
    }
}